<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />
    
</head>
<body>
    <div class="container2">
        <!-- Hot Search -->
        <div class="box">
            <div class="top">

                <img src="~/Images/box1.png" alt="Hot Search" />
            </div>
            <div class="bottom">

                <ol>

                    <li><a href="#">Jasmine green tea milk tea</a></li>
                    <li><a href="#">Pudding and coconut milk tea</a></li>
                    <li><a href="#">Roasted herbal milk tea</a></li>
                    <li><a href="#">Black glutinous rice milk tea</a></li>
                    <li><a href="#">Peaches and green tea</a></li>
                    <li><a href="#">Red grapefruit juice and green tea</a></li>
                    <li><a href="#">Green and grape smoothies</a></li>
                    <li><a href="#">Barra juice and sago</a></li>
                    <li><a href="#">Cheese milk covered strawberry tea</a></li>
                    <li><a href="#">mango pomelo sago</a></li>
                </ol>
            </div>
        </div>

        <!-- Real-time Hot News -->
        <div class="box2">
            <div class="top2">

                <img src="~/Images/box2.png" alt="Real-time Hot News" />
            </div>
            <div class="bottom2">

                <ol>
                    <li><a href="#">Hey Tea has announced that it will partner with Barbie and launch new products.</a></li>
                    <li><a href="#">Many people think Hey Tea's new product is awful.</a></li>
                    <li><a href="#">Coco's very impressive taro milk tea.</a></li>
                    <li><a href="#">Auntea Jenny has a new fruit tea about the combination of grapefruit and orange.</a></li>
                    <li><a href="#">Tea Panda was exposed to materials that are harmful to human health.</a></li>
                    <li><a href="#">MiXue suddenly pulled a large number of products from its shelves.</a></li>
                    <li><a href="#">The new zero-calorie sugar may be available by the end of the month.</a></li>
                    <li><a href="#">MiXueTea will continue to grow in size this year</a></li>
                    <li><a href="#">Is KFC's milk tea qualified in your mind?</a></li>
                    <li><a href="#">A new brand from MiXue is coming soon.</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="SecondArea">
        <div class="box3">
            <div class="top3">
                <img src="~/Images/title (1).png" alt="title" />
            </div>
        </div>
        <div class="bottom3">
            <div class="image">
                <img src="~/Images/classica.png" alt="Classic Milk Tea" width="360px" height="300px">
            </div>
            <div class="text">
                <h2>Name:<br> Classic Milk Tea</h2>
                <p>
                    <h3>Recommended reasons:</h3>
                    Now the flavor of milk tea has begun to increase, and the types of raw
                    materials and ingredients used are also increasing. When you don't know what to choose among these dazzling
                    milk teas, it is better to choose the most classic milk tea.
                    Classic milk tea is made of black tea, milk and sugar, and has been loved by many people because of its
                    mellow taste, so it is called classic milk tea by many people.
            </div>
        </div>
    </div>
    <div class="ThirdArea">
        <h1>Popular Milk Tea This Month</h1>
        <div>
            <img src="/Images/tea1.png" alt="Tea 1">
            <img src="/Images/tea2.png" alt="Tea 2">
            <img src="/Images/tea3.png" alt="Tea 3">
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/popu.js")"></script>
    <script src="@Url.Content("~/Scripts/ppt.js")"></script>
    
</body>

</html>
